@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;
@use '../base/functions/index' as *;

@mixin create-burger {

    .burger {
        position: relative;
        display: var(--burger_display, none);
        inline-size: $gap-3xl;
        block-size: $gap-2xl;
        background-color: $color-transparent;
        border-color: $color-transparent;
        cursor: pointer;
        padding: 0;

        @include mq-responsive(tablet, max) {
            --burger_display: block;
        }

        >span {
            position: absolute;
            inset: 50% auto auto 50%;
            display: block;
            inline-size: 100%;
            block-size: $gap-s;
            transition-property: translate, rotate, scale;
            transition-timing-function: $trans-fnc;
            transition-duration: $trans-time;
            background-color: $color-primary;
            border-radius: $radius-full;
            rotate: 0deg;
            opacity: 1;
            scale: 1;

            &:nth-child(1) {
                translate: -50% calc(num-neg(calc($gap-m * 1.5)) - 50%);
            }

            &:nth-child(2) {
                translate: -50% -50%;
            }

            &:nth-child(3) {
                translate: -50% calc(calc($gap-m * 1.5) - 50%);
            }
        }

        &[data-open="true"] {
            >span {
                &:nth-child(1) {
                    translate: -50% -50%;
                    rotate: -45deg;
                }

                &:nth-child(2) {
                    opacity: 0;
                    scale: 0;
                }

                &:nth-child(3) {
                    translate: -50% -50%;
                    rotate: 45deg;
                }
            }
        }
    }
}