@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;
@use '../base/functions/index' as *;

@mixin create-form-item {

  .form-item{
    position: relative;
    display: grid;
    gap: $gap-s;
    color: $color-label; 
    text-transform: uppercase;
    isolation: isolate;

    @include mq-responsive(mobile-xl, max) {
     font-size: 12px;
    }

    &:focus-within{
      z-index: 999;
    }

    &:has(textarea){
      grid-column-end: span 2;
    }
  }

  :where(input:not([type="checkbox"]), select, textarea){
    display: grid;
    width: initial !important;
    min-width: 0;
    max-width: unset !important;
    block-size: px-to-rem(50px);
    padding-block: $gap-s;
    padding-inline: var(--input_pad-inline, $gap-l);
    background-color: $color-white;
    border: $border-width solid $color-primary;
    border-radius: $input-border-radius;
    font-family: $font-text;
    font-size: $gap-l;
    font-weight: initial;
    color: $color-text;
    -webkit-appearance: none;
    appearance: none;
    outline-offset: num-neg($border-width-2);
    align-items: center;
    text-align: left;

    @include mq-responsive(mobile-xl, max) {
      --input_pad-inline: #{$gap-m};
      block-size: px-to-rem(37px);
    }

    &:not([type="checkbox"]){
      &:user-invalid, &:invalid{
        outline: $border-width-2 solid $color-error;
      }

      &:user-valid, &:valid{
        outline: $border-width-2 solid $color-success;
      }
  
      &:focus{
        outline: $border-width-2 solid $color-primary;
      }
    }
  }

  select{
    -webkit-appearance: none;
    appearance: none;

    + .icon{
      position: absolute;
      inset: auto $gap-l $gap-l auto;
      color: $color-primary;
      z-index: 2;
      pointer-events: none;

      @include mq-responsive(mobile-xl, max) {
        --icon_size: #{$gap-m};
        inset: auto $gap-m .85rem auto;
      }
    }
  }

  textarea{
    block-size: unset;
    min-block-size: px-to-rem(80px);
    max-block-size: px-to-rem(300px);
    font-family: $font-text;
  }

  .check-box{
    @include flex-set(inline-flex, row, nowrap, $gap-m, center, start);
    font-size: large;
    color: $color-text;
    cursor: pointer;
    
    input[type="checkbox"]{
      display: block;
      inline-size: $gap-xl;
      block-size: $gap-xl;
      margin: 0;
      border: $border-width solid $color-primary;
      border-radius: $input-border-radius;
      cursor: pointer;
    }
  }
}