@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;


@mixin create-icon {
    .icon {
        --icon_size: #{$gap-l};
        display: block;
        inline-size: var(--icon_size);
        min-inline-size: var(--icon_size);
        block-size: var(--icon_size);
        aspect-ratio: 1;
        fill: currentColor;
    }
}