@use "../base/mixins/index" as *;
@use "../base/variables/index" as *;
@use "../base/functions/index" as *;
@use "../base/placeholders/index" as *;

@mixin create-tile {
  .tiles {
    @include grid-columns(
      grid,
      repeat(var(--tiles-count, 5), minmax($gap-3xl, 1fr)),
      var(--tiles_gap, clamp($gap-l, 2.5svi, $gap-3xl)),
      stretch,
      center
    );
    margin-block-start: 5svb;
    margin-block-end: 8svb;

    @include mq-responsive(desktop-hd, max) {
      --tiles-count: 12;
    }

    @include mq-responsive(tablet, max) {
      --tiles-count: 1;
    }

    @include mq-responsive(mobile-l, max) {
      --tiles_gap: #{$gap-xl};
    }
  }

  div:not([class]):has(> .tile) {
    display: grid;
    grid-template-columns: subgrid;
    gap: clamp($gap-l, 4svi, $gap-3xl);
    @include grid-col-span(2);

    @include mq-responsive(desktop-hd, max) {
      @include grid-col-span(12);
    }

    @include mq-responsive(tablet, max) {
      @include grid-col-span(1);
    }

    > .tile:first-child {
      @include mq-responsive(desktop-hd, max) {
        grid-column-start: 3;
      }


      @include mq-responsive(tablet, max) {
        grid-column-start: 1;
      }
    }

    > .tile:last-child {
      @include mq-responsive(desktop-hd, max) {
        grid-column-start: 7;
      }

      @include mq-responsive(tablet, max) {
        grid-column-start: 1;
      }
    }
  }

  .tile {
    @include grid-columns(grid, var(--tile_col-temp, 1fr), var(--tile_gap, $gap-3xl));
    grid-template-rows: var(--tile_row-temp, auto 1fr);
    padding-block: clamp($gap-xl, var(--tile_pad-block, 4svi), 4rem);
    padding-inline: clamp($gap-l, 2.5svi, $gap-xl);
    background-color: $color-white;
    opacity: 1 !important;
    border-radius: var(--tile_border-radius, 1em);
    // opacity: 0;
    // border-radius: $radius-l;
    text-align: var(--tile_text-align, center);
    animation: fadeIn linear forwards;
    // animation-timeline: view();
    box-shadow: var(--tile_box-shadow, 0 $gap-m $gap-l 0 $color-shadow);

    // @for $i from 1 through 5 {
    //   &:nth-child(#{$i}) {
    //     animation-range: calc(20svb + #{$i * 40}px) 50svb;
    //   }
    // }

    // @include mq-responsive(desktop-l, max) {
    //   padding-block: 3rem;
    // }

    @include mq-responsive(desktop-hd, max) {
      --tile_pad-block: 3svi;
      @include grid-col-span(4);
    }


    @include mq-responsive(tablet, max) {
      @include grid-col-span(1);
      --tile_col-temp: auto 1fr;
      --tile_row-temp: 1fr;
      --tile_pad-block: 0;
      --tile_text-align: left;
      --tile_gap: #{$gap-xl};
      --tile_border-radius: 0;
      --tile_box-shadow: none;
    }

    > .icon {
      --icon_size: #{px-to-rem(85px)};
      margin-inline: var(--tile-icon_margin-inline, auto);
      fill: $color-secondary;

      @include mq-responsive(tablet, max) {
        --tile-icon_margin-inline: 0;
      }

      @include mq-responsive(mobile-l, max) {
        --icon_size: 4rem;
      }
    }

    > strong {
      @extend %subtitle;
      font-size: $gap-l;
      text-wrap: balance;

      @include mq-responsive(mobile-l, max) {
        max-inline-size: $width-mobile-s;
      }
    }
  }

  @keyframes fadeIn {
    50%,
    100% {
      opacity: 1;
    }
  }
}
