@use '../base/mixins/index' as *;
@use '../base/variables/index' as *;

@mixin create-section {
    section {
        --sec_padding: 5svb;
        position: relative;
        min-block-size: 100svb;
        padding-block: var(--sec_padding);
        
        @include mq-responsive(tablet, max) {
            scroll-margin-block-start: var(--sec_padding);
        }

        &:is(#contact){
            --sec_padding: 8svb;

            @include mq-responsive(tablet, max) {
                --sec_padding: 5svb;
            }
        }
    }
}