---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const currentYear = new Date().getFullYear();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div class="container footer__container">
    <a href="/" class="footer__logo" rel="noreferer">
      <img src="/images/logos/elendris-logo.svg" alt="Elendris logo" title={t('nav.logo.alt')}/>
    </a>
    <span>{t('footer.info')}<br />
      © 2016 - {currentYear} Elendris s.r.o.</span>
    <div>
      <span>
        {t('footer.createdBy')}
        <a
          href="https://lukaschylik.sk/"
          target="_blank"
          rel="external"
          title=`${t('footer.createdBy')} Lukáš Chylík`
          class="link link--light link--underline">Lukáš Chylík</a
        >
      </span>
    </div>
  </div>
</footer>