---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="container footer__container">
    <a href="/" class="footer__logo" rel="noreferer">
      <img src="./images/logos/elendris-logo.svg" alt="Elendris logo" />
    </a>
    <span
      >Fyzická osoba zapsaná v Živnostenském rejstříku v Magistrát města
      Brna od 31.8.2016<br />
      © 2016 - {currentYear} Elendris s.r.o.</span
    >
    <div>
      <span>
        Vytvořil
        <a
          href="https://lukaschylik.sk/"
          target="_blank"
          rel="external"
          class="link link--light">Lukáš Chylík</a
        >
      </span>
    </div>
  </div>
</footer>