---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const currentYear = new Date().getFullYear();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<footer>
  <div class="container footer__container">
    <a href="/" class="footer__logo" rel="noreferer">
      <img src="/images/logos/elendris-logo.svg" alt="Elendris logo" title={t('nav.logo.alt')}/>
    </a>
    <span>{t('footer.info')}<br />
      © 2016 - {currentYear} Elendris s.r.o.</span>
    <div>
      <span>
        {t('footer.createdBy')}
        <a
          href="https://lukaschylik.sk/"
          target="_blank"
          rel="external"
          title=`${t('footer.createdBy')} Lukáš Chylík`
          class="link link--light link--underline">Lukáš Chylík</a
        >
      </span>
    </div>
  </div>
</footer>

<div id="_HotelczCertificate-Box" class="_left-side" data-hash="730572" data-seo="ubytovani-u-kostela-brno">
  <a href="https://ubytovani-u-kostela-brno.hotel.cz/" id="_HC-HotelLink" title="Ubytování u kostela" rel="external">Ubytování u kostela</a>
  <a href="https://www.hotel.cz/brno/" id="_HC-TownLink" title="Hotely a Ubytování Brno" rel="external">v Brně</a>
  <a href="https://ubytovani-u-kostela-brno.hotel.cz/reviews/" id="_HC-ReviewLink" rel="external">hodnocení</a>
</div>