---
import Helmet from "../../components/helmet/Helmet.astro";
import Header from "../../sections/header/Header.astro";
import Navigation from "../../components/navigation/Navigation.astro";
import Rooms from "../../sections/rooms/Rooms.astro";
import Reservation from "../../components/reservation/Reservation.astro";
import IconSet from "../../components/icons/IconSet.astro";
import Contact from "../../sections/contact/Contact.astro";
import Footer from "../../sections/footer/Footer.astro";
import Dock from "../../components/dock/Dock.astro";
import About from "../../sections/about/About.astro";
import { getLangFromUrl } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---
<html lang={lang}>
  <Helmet
    title="Penzion Elendris"
    description="Ideální volba jak pro pracovní pobyty, tak pro rodinné výlety"
    keywords="ubytování Brno, hotel, pokoje, rezervace, rodinný, obchodní, cestování">
    <script type="application/ld+json" slot="structured-data">
      {
        "@context": "https://schema.org",
        "@type": "LodgingBusiness",
        "name": "Penzion Elendris",
        "description": "Ideální volba jak pro pracovní pobyty, tak pro rodinné výlety",
        "url": "https://elendris.cz/",
        "telephone": "+420603999579",
        "email": "info@elendris.cz",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Krejčího 550/2",
          "addressLocality": "Brno",
          "postalCode": "627 00",
          "addressCountry": "CZ"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "49.229709",
          "longitude": "16.54870"
        },
        "hasMap": "https://www.google.com/maps/place/Elendris+-+Ubytov%C3%A1n%C3%AD+u+kostela/@49.1776137,16.6893943,17z/data=!4m9!3m8!1s0x4712eb219dd831af:0xff86b13858cc34c2!5m2!4m1!1i2!8m2!3d49.1776137!4d16.6919692!16s%2Fg%2F11c1s3p4xq?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D",
        "openingHours": "Mo-Su 00:00-23:59",
        "checkinTime": "15:00",
        "checkoutTime": "10:00",
        "priceRange": "$$",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.8",
          "reviewCount": "193"
        },
        "amenityFeature": [
          {
            "@type": "LocationFeatureSpecification",
            "name": "Free Wi-Fi",
            "value": true
          },
          {
            "@type": "LocationFeatureSpecification",
            "name": "Parking",
            "value": true
          },
          {
            "@type": "LocationFeatureSpecification",
            "name": "Breakfast Included",
            "value": true
          },
          {
            "@type": "LocationFeatureSpecification",
            "name": "Air conditioning",
            "value": true
          }
        ],
        "image": ["https://elendris.cz/meta/meta-google.webp"]
      }
    </script>
  </Helmet>
  <body>
    <IconSet />
    <Navigation />
    <Dock />
    <Header />
    <main>
      <About id="about" />
      <Rooms id="rooms" />
      <Contact id="contact" />
      <Reservation />
    </main>
    <Footer />
  </body>
  <script type="text/javascript" async>
    (function (d, s) {
        var e = d.createElement(s); e.type = 'text/javascript'; e.async = true;
        e.src = '//www.hotel.cz/hotelcz/scripts/external/certificate-2.0.min.js';
        var t = d.getElementsByTagName(s)[0]; t.parentNode.insertBefore(e, t);
    }(document, 'script'));
</script>
</html>
