---
import Icon from "../icons/Icon.astro";
---

<div class="dock">
  <a href="tel: +420758695456" class="dock__link" title="Kontaktovat pomocí telefonu" rel="noopener">
    <Icon name="phone" />
  </a>
</div>