---
import Icon from "../icons/Icon.astro";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="dock">
  <a href="tel: +420603999579" class="dock__link"  title=`${t('reservation.formLabel.phone')}: +420 603 999 579` rel="noopener">
    <Icon name="phone" />
  </a>
</div>
