@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-dock {
  .dock {
    display: var(--dock_display, none);
    position: fixed;
    inset: auto $gap-m 15svb auto;
    flex-flow: column nowrap;
    gap: $gap-m;
    z-index: 9999;
    isolation: isolate;

    @include mq-responsive(tablet, max) {
      --dock_display: flex;
    }

    &__link {
      display: block;
      aspect-ratio: 1;
      inline-size: $gap-2xl;
      display: grid;
      place-items: center;
      background-color: $color-secondary;
      color: $color-primary;
      border-radius: $radius-circle;
    }
  }
}
