@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-dock {
  .dock {
    position: fixed;
    inset: auto $gap-m $gap-l auto;
    display: var(--dock_display, none);
    flex-flow: column nowrap;
    gap: $gap-m;
    isolation: isolate;
    z-index: 9999;

    @include mq-responsive(tablet, max) {
      --dock_display: flex;
    }

    &__link {
      display: block;
      display: grid;
      place-items: center;
      inline-size: $gap-2xl;
      aspect-ratio: 1;
      background-color: $color-secondary;
      border-radius: $radius-circle;
      color: $color-primary;
    }
  }
}
