@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-contact {
  section#contact .container {
    position: relative;
    display: grid;
    grid-template-columns: var(--contact_col-temp, 5fr 8fr);
    pointer-events: none;

    @include mq-responsive(desktop-hd, max) {
      --contact_col-temp: repeat(2, 1fr);
    }

    @include mq-responsive(desktop-s, max) {
      --contact_col-temp: 1fr;
      padding-bottom: 50svb;
    }
  }

  .contact {
    @include grid-columns(grid, 1fr, 0);
    position: relative;
    min-block-size: 84svb;
    padding-block: clamp($gap-2xl, 4svb, 5rem);
    padding-inline: clamp($gap-2xl, 4svb, 5rem);
    background-color: $color-white--transparent;
    backdrop-filter: blur($gap-m);
    border-radius: 1em;
    font-family: $font-title;
    color: $color-text;
    text-align: left;
    isolation: isolate;
    z-index: 10;
    box-shadow: 0 $gap-s $gap-xl 0 $color-shadow;
    pointer-events: initial;

    &__footer {
      margin-block-start: clamp($gap-3xl, 8svb, 5rem);

      > div:has(.btn) {
        @include flex-set(flex, row, nowrap, $gap-l, center);
        margin-block-start: $gap-2xl;
      }
    }

    p {
      text-wrap: balance;
    }

    address {
      margin-block-end: $gap-l;
      font-size: var(--contact-address_fs, larger);
      line-height: 1.5;

      @include mq-responsive(mobile-xl, max) {
        --contact-address_fs: #{$gap-l};
      }

      + span {
        font-size: larger;
      }
    }

    div:has(> .link) {
      @include flex-set(flex, column, nowrap, $gap-l, flex-start);
    }
  }
}
