@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-contact {
  section#contact {
    position: relative;
    min-block-size: 100svb;
    padding-block: 8svb;

    .container {
      position: relative;
      display: grid;
      grid-template-columns: 5fr 8fr;
      pointer-events: none;
    }
  }

  .contact {
    @include grid-columns(grid, 1fr, 0);
    position: relative;
    block-size: 84svb;
    padding-block: clamp($gap-2xl, 4svb, 5rem);
    padding-inline: clamp($gap-2xl, 4svb, 5rem);
    background-color: $color-white--transparent;
    backdrop-filter: blur($gap-m);
    border-radius: $radius-l;
    font-family: $font-title;
    color: $color-text;
    text-align: left;
    isolation: isolate;
    z-index: 10;
    pointer-events: initial;

    &__footer{
      margin-block-start: $gap-3xl;
    }

    h4{
      margin-block-start: $gap-3xl;
    }

    p{
      text-wrap: balance;
    }

    address {
      margin-block-end: $gap-l;
      font-size: larger;
      line-height: 1.5;

      + span {
        font-size: larger;
      }
    }

    div:has(> .link){
      @include flex-set(flex, column, nowrap, $gap-l, flex-start);
    }
  }
}
