@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-nav {
  :root {
    @include mq-responsive(tablet, max) {
      --nav_block-size: #{px-to-rem(70px)};
    }

    @include mq-responsive(mobile-xl, max) {
      --nav_block-size: #{px-to-rem(58px)};
    }
  }

  nav {
    @include grid-columns(
      grid,
      var(--nav_col-temp, px-to-rem(160px) 1fr px-to-rem(160px)),
      $gap-l,
      center,
      var(--nav_jc, flex-start),
      center
    );
    position: var(--nav_position, absolute);
    inset: 0 0 auto 0;
    inline-size: 100%;
    max-inline-size: 100svi;
    padding-block: var(--nav_pad-block, $gap-xl);
    padding-inline: var(--nav_pad-inline, $gap-2xl);
    isolation: isolate;
    block-size: var(--nav_block-size, auto);
    background-color: var(--nav_bg-color, $color-transparent);
    z-index: 9999;
    // opacity: 0;
    // animation: showContent 1s forwards 1s; @include mq-responsive(tablet, max) {
      --rooms_padding-inline: #{$gap-2xl};
      --rooms-count: 1;

    @include mq-responsive(tablet, max) {
      --nav_position: fixed;
      --nav_col-temp: repeat(2, auto);
      --nav_jc: space-between;
      --nav_pad-block: 0;
      --nav_bg-color: #{$color-glass--light};
      backdrop-filter: blur($gap-m);
    }

    @include mq-responsive(mobile-xl, max) {
      --nav_pad-inline: #{$gap-xl};
    }

    @include mq-responsive(mobile-m, max) {
      --nav_pad-inline: #{$gap-l};
    }

    .link {
      font-weight: 500;

      &[href*="tel"] {
        @include mq-responsive(tablet, max) {
          display: none;
        }
      }
    }
  }

  .nav {
    &__logo {
      > img {
        display: block;
        inline-size: var(--logo_size, px-to-rem(70px));

        @include mq-responsive(tablet, max) {
          --logo_size: #{px-to-rem(50px)};
        }
      }
    }

    &__right {
      @include flex-set(
        inline-flex,
        var(--nav-right_flex-direction, column),
        nowrap,
        $gap-l,
        var(--nav-right_ai, flex-end),
        center
      );

      @include mq-responsive(tablet, max) {
        --nav-right_flex-direction: row;
        --nav-right_ai: center;
        gap: $gap-xl;
      }
    }
  }

  .menu {
    @include flex-set(
      inline-flex,
      var(--menu_flex-direction, row),
      nowrap,
      clamp($gap-xl, 3svi, $gap-3xl),
      center,
      var(--menu_jc, center),
    );
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--menu_color, $color-primary);

    @include mq-responsive(tablet, max) {
      --menu_flex-direction: column;
      --menu_jc: start;
      padding-block-start: 16svb;
      position: absolute;
      inset: 100% 0 auto auto;
      translate: var(--menu_trans-x, 100%) 0;
      transition: translate $trans-time $trans-fnc;
      block-size: calc(100svb - var(--nav_block-size));
      inline-size: 100svi;

      &:after{
        content: "";
        position: absolute;
        inset: 0;
        background-color: $color-glass--light;
        filter: blur($gap-m);
        z-index: -1;
      }
    }

    &[data-open="true"] {
      @include mq-responsive(tablet, max) {
        --menu_trans-x: 0;
      }
    }

    &[data-sticky="true"] {
      @extend %glass-dark;
      --menu_color: #{$color-white};
      position: fixed;
      top: 0;
      left: 50%;
      padding-block: calc($gap-l - $gap-s);
      padding-inline: clamp($gap-l, 2.5svi, $gap-3xl);
      border-radius: 1em;
      animation: showNav var(--trans-time) forwards;
      translate: -50% -100%;
    }

    li a {
      @extend %subtitle;
      font-family: $font-title;
      font-size: var(--menu-link_fs, clamp($gap-l, 2svb, px-to-rem(20px)));
      line-height: 1.7;
      color: currentColor;
      text-decoration: var(--nav-item_text-decor, none);
      white-space: nowrap;

      @include mq-hover {
        --nav-item_text-decor: underline;
      }

      @include mq-responsive(tablet, max) {
        --menu-link_fs: clamp(#{$gap-l}, 2.5svb, #{$gap-xl});
      }
    }
  }
}

@keyframes showNav {
  to {
    translate: -50% 2.5svb;
  }
}

