---
import Icon from "../icons/Icon.astro";
import LangSwitch from "../langSwitch/LangSwitch.astro";

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav>
  <a href="/" class="nav__logo">
    <img src="/images/logos/elendris-logo.svg" alt={t('nav.logo.alt')}/>
  </a>
  <ul class="menu" data-sticky="false" data-open="false">
    <li>
      <a href={`/${lang}/#home`}>{t('nav.home')}</a>
    </li>
    <li>
      <a href={`/${lang}/#about`}>{t('nav.about')}</a>
    </li>
    <li>
      <a href={`/${lang}/#rooms`}>{t('nav.rooms')}</a>
    </li>
    <li>
      <a href={`/${lang}/#contact`}>{t('nav.contact')}</a>
    </li>
    <LangSwitch />
  </ul>
  <div class="nav__right">
    <a href="tel: +420758695456" class="link" rel="noopener">
      <Icon name="phone" />
      +420 758 695 456
    </a>
    <button class="btn btn--small" data-reservation>{t('nav.reservation')}</button>
    <button
      id="menuBtn"
      data-open="false"
      class="burger"
      type="button"
      aria-label={t('nav.openMenu')}>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>

<script>
  import { initNavigation } from "./Navigation.ts";
  document.addEventListener("DOMContentLoaded", () => {
    initNavigation();
  });
</script>