@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-nav {
    nav {
        position: absolute;
        top: 0;
        display: grid;
        inline-size: 100%;
        padding-block: $gap-m;
        padding-inline: $gap-2xl;
        isolation: isolate;
        z-index: 999;

        hr {
            inline-size: 100%;
            margin-block: clamp($gap-m, 2.5svb, $gap-xl);
            border-block-start: $border-width solid $color-border !important;
        }

        .link {
            font-weight: 500;
        }
    }

    .nav {
        &__top {
            @include flex-set(flex, row, nowrap, $gap-m, flex-end, space-between);
        }

        &__bottom {
            @include flex-set(flex, row, nowrap, $gap-m, flex-start, space-between);
        }

        &__logo {
            > img {
                display: block;
                inline-size: px-to-rem(70px);
            }
        }
    }

    .menu {
        --nav_color: #{$color-black};
        @include flex-set(inline-flex, row, nowrap, clamp($gap-xl, 3svi, $gap-3xl), center);
        margin: 0;
        list-style: none;

        &[data-sticky="true"] {
            @extend %blur-bg;
            --nav_color: #{$color-white};
            position: fixed;
            top: 0;
            left: 50%;
            padding-block: calc($gap-l - $gap-s);
            padding-inline: $gap-3xl;
            border-radius: 1em;
            animation: showNav var(--trans-time) forwards;
            translate: -50% -100%;
        }

        a {
            @extend %subtitle;
            font-size: clamp($gap-l, 2svb, px-to-rem(22px));
            line-height: 1.7;
            color: var(--nav_color);
            text-decoration: var(--nav-item_text-decor, none);
            mix-blend-mode: difference;

            @include mq-hover {
                --nav-item_text-decor: underline;
            }
        }
    }
}

@keyframes showNav {
    to {
        translate: -50% 3svb;
    }
}