---
import FormItem from "../formItem/FormItem.astro";
import Icon from "../icons/Icon.astro";
---

<dialog class="reservation">
  <form action="post" class="reservation__form">
   <div class="reservation__header">
    <h3>Rezervační formulář</h3>
    <button
      class="reservation__close"
      type="button"
      aria-label="Zavřít rezervační formulář"
      title="Zavřít rezervační formulář"
      id="reservationClose"
    >
      <Icon name="close" />
    </button>
   </div>
    <p>
      Vyplňte prosím následující formulář pro rezervaci pokoje v našem penzionu.
      Ujistěte se, že všechny údaje jsou správné, abychom mohli vaši rezervaci
      co nejdříve potvrdit.
    </p>
    <div>
      <fieldset>
        <legend>Termín</legend>
        <p>Vyberte prosím datum příjezdu a odjezdu.</p>
        <FormItem label="Od">
          <input type="date" name="from" required />
        </FormItem>
        <FormItem label="Do">
          <input type="date" name="to" required />
        </FormItem>
      </fieldset>
      <fieldset>
        <legend>Kontaktní údaje</legend>
        <p>Zadejte své kontaktní údaje pro potvrzení rezervace.</p>
        <FormItem label="Jméno">
          <input type="text" placeholder="Jan" name="name" required />
        </FormItem>
        <FormItem label="Příjmení">
          <input type="text" placeholder="Novák" name="surname" required />
        </FormItem>
        <FormItem label="E-mail">
          <input
            type="email"
            placeholder="jan@novak.cz"
            name="email"
            required
          />
        </FormItem>
        <FormItem label="Telefon">
          <input type="tel" placeholder="+420123456789" name="phone" required />
        </FormItem>
      </fieldset>
    </div>
    <fieldset>
      <legend>Pokoje</legend>
      <p>Zvolte pokoje a počet hostů pro každý pokoj.</p>
      <div class="col-span-2">
        <p class="reservation__empty-message">Nemáte vybraný žádný pokoj!</p>
        <div id="roomsList" class="reservation__room-list"></div>
        <div class="reservation__actions">
          <label class="check-box" title="Platí pro všehcny pokoje">
            <input type="checkbox" value="" />
            Se snídaní
          </label>
          <button
            type="button"
            id="addRoom"
            class="btn btn--small btn--secondary"
          >
            Přidat pokoj
            <Icon name="plus" />
          </button>
        </div>
      </div>
    </fieldset>
    <div class="reservation__footer">
      <button class="btn btn--secondary" type="button" id="cancelBtn">Zrušit</button>
      <button class="btn btn--primary" type="submit" id="submitBtn">Rezervovat</button>
    </div>
  </form>
</dialog>

<script>
  import { initReservation } from "./Reservation.ts";

  document.addEventListener("DOMContentLoaded", () => {
    initReservation()
  });
</script>
