---
import Helmet from "../components/helmet/Helmet.astro";
import Header from "../sections/header/Header.astro";
import Navigation from "../components/navigation/Navigation.astro";
import i18next from "i18next";
import Rooms from "../sections/rooms/Rooms.astro";
import Reservation from "../components/reservation/Reservation.astro";
import IconSet from "../components/icons/IconSet.astro";
import Contact from "../sections/contact/Contact.astro";
import Footer from "../sections/footer/Footer.astro";
import Dock from "../components/dock/Dock.astro";
import About from "../sections/about/About.astro";
---

<html lang={i18next.language}>
  <Helmet
    title="Elendris | Ubytování u kostela"
    description="Útulné ubytování v rodinné atmosféře"
  />
  <body>
    <IconSet />
    <Reservation />
    <Navigation />
    <Dock />
    <Header />
    <main>
      <About id="about" />
      <Rooms id="rooms" />
      <Contact id="contact" />
    </main>
    <Footer />
  </body>
</html> 
 