---
import Icon from "../icons/Icon.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const csUrl = getRelativeLocaleUrl("cs"); 
const enUrl = getRelativeLocaleUrl("en"); 
---

<div class="lang-switch">
  <button class="lang-switch__btn" 
          type="button" 
          aria-label="Změnit jazyk" 
          title="Změnit jazyk">
    <Icon name="lang" />
    <span>{lang.toLocaleUpperCase()}</span>
    <Icon name="chevron-down" />
  </button>
  <div  class="lang-switch__popover" data-open="false">
    <a href={csUrl} hreflang="cs" rel="noreferer" class="link link--light">{t('nav.lang.cs')}</a>
    <a href={enUrl} hreflang="en" rel="noreferer" class="link link--light">{t('nav.lang.en')}</a>
  </div>
</div>

<script>
import { initLangSwitch } from "./LangSwitch"

   document.addEventListener('DOMContentLoaded', () => {
    initLangSwitch()
   })
</script>