@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-lang-switch {
  .lang-switch {
    position: relative;
    color: currentColor;

    @include mq-responsive(tablet, max) {
      margin-block-start: 5svb;
    }

    &__btn {
      @include flex-set(inline-flex, row, nowrap, $gap-m, center, center, center);
      padding: 0;
      background-color: $color-transparent;
      border-color: $color-transparent;
      font-size: $gap-l;
      color: currentColor;
      cursor: pointer;

      @include mq-hover{
        text-decoration: underline;
      }
      > .icon:first-child {
       --icon_size: #{$gap-xl};
      }

      > .icon:last-child {
        --icon_size: #{$gap-m};
      }

      > span{
        font-family: $font-title;
        font-weight: 500;
        line-height: 1.5;
      }
      
    }

    &__popover {
      @extend %glass-dark;
      @include flex-set(var(--lang-switch-popover_display, none), column, nowrap, $gap-m);
      position: absolute;
      inset: calc(100% + $gap-s) auto auto 50%;
      padding: $gap-l;
      border-radius: 1em;
      text-align: left;
      translate: -50% 0;
      box-shadow: 0 $gap-m $gap-l 0 $color-shadow;

      &[data-open="true"] {
        --lang-switch-popover_display: flex;
      }
    }
  }
}
