---
import Icon from "../icons/Icon.astro";
import { getLangFromUrl } from '../../i18n/utils';
import { languages } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
---

<div class="lang-switch">
  <button class="lang-switch__btn" 
          type="button" 
          aria-label="Change language" 
          title="Change language">
    <Icon name="lang" />
    <span>{lang.toLocaleUpperCase()}</span>
    <Icon name="chevron-down" />
  </button>
  <ul class="lang-switch__popover" data-open="false">
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}/`} class="link link--light" rel="noreferer">{label}</a>
      </li>
    ))}
  </ul>
</div>

<script>
import { initLangSwitch } from "./LangSwitch"

   document.addEventListener('DOMContentLoaded', () => {
    initLangSwitch()
   })
</script>