@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;

@mixin create-header {
  header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    max-inline-size: 100svi;
    min-block-size: 100svb;
    overflow-x: clip
  }

  .header {
    &__container {
      @include grid-columns(
        grid,
        repeat(12, minmax($gap-l, 1fr)),
        0,
        var(--header-cont_ai, stretch),
        var(--header-cont_jc, flex-start),
        var(--header-cont_ac, stretch)
      );
      grid-template-rows: repeat(12, minmax($gap-l, 1fr));

      @include mq-responsive(desktop-full-hd, max) {
        --header-cont_col-temp: minmax(#{$gap-3xl}, 1fr);
        --header-cont_ai: center;
        --header-cont_jc: center;
        --header-cont_ac: center;
      }
    }

    &__content {
      display: grid;
      align-items: flex-start;
      grid-column: 1 / 9;
      grid-row: 5 / 9;

      @include mq-responsive(mobile-xl, max) {
        grid-column: 1 / 13;
        // grid-row: 4 / 8;
      }

      > :is(h1, span) {
        --header-title_trans-x: -0.8svi;
        @extend .open-sans-900;
        position: relative;
        opacity: 0;
        font-size: var(--header-title_font-size, clamp($gap-3xl, 20svb, 18rem));
        line-height: 1;
        text-transform: uppercase;
        animation: showTitle 1s forwards;
        translate: var(--header-title_trans-x) 30%;
        z-index: 1;
        grid-column-start: 1;
        grid-row-start: 1;

        @include mq-responsive(desktop-hd, max) {
          --header-title_font-size: clamp(#{$gap-3xl}, 17vb, 14rem);
        }

        @include mq-responsive(tablet, max) {
          --header-title_font-size: clamp(#{$gap-3xl}, 10svb, 10rem);
        }

        @include mq-responsive(mobile-xl, max) {
          --header-title_font-size: clamp(#{$gap-3xl}, 8svb, 8rem);
        }
      }

      > h1 {
        color: $color-primary;
        z-index: -1;
      }

      // Visual hack
      > span {
        color: hsl(from $color-primary h s l / 0.1);
        z-index: 1;
        -webkit-text-stroke: var(--header-title_text-stroke, $border-width-3) $color-white;

        @include mq-responsive(desktop-s, max) {
          --header-title_text-stroke: #{$border-width-2};
        }
      }

      > small {
        position: relative;
        opacity: 0;
        font-size: clamp($gap-l, 2.5svb, $gap-2xl);
        animation: showContent 1s forwards 0.5s;
        translate: 0 2svb;
        z-index: 1;

        @include mq-responsive(tablet, max) {
          filter: drop-shadow(0 0 $border-width-3 $color-white);
          font-size: clamp($gap-l, 2svb, $gap-xl);
        }

        //buttons
        + div {
          position: relative;
          margin-block-start: clamp($gap-2xl, 5svb, 4rem);
          opacity: 0;
          animation: showContent 1s forwards 1s;
          translate: 0 2svb;
          z-index: 1;

          @include mq-responsive(mobile-xl, max) {
            margin-block-start: clamp($gap-xl, 3.5svb, $gap-3xl);
          }
        }
      }
    }
  }

  .anim {
    position: relative;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    filter: drop-shadow(0 $gap-m $gap-xl $color-shadow);
    z-index: 0;
    grid-column: 5 / 13;
    grid-row: 1 / 13;

    @include mq-responsive(tablet, max) {
      opacity: 0.9;
      grid-column: 1 / 13;
      grid-row: 1 / 13;
    }

    @include mq-responsive(mobile-xl, max) {
      opacity: 1;
    }

    &__pic {
      position: relative;
      background-color: var(--anim-pic_bg-color, $color-transparent);
      animation: showImg 0.5s forwards var(--anim-pic_anim-delay);
      translate: var(--anim-pic_trans-x, 0) var(--anim-pic_trans-y, 0);
      scale: 0;
      clip-path: var(--anim-pic_clip-path);

      &[data-scroll-anim="true"],
      &[data-scroll-anim="true"]:after {
        animation: var(--anim-pic_animation) linear forwards;
        scale: 1;
        animation-range-end: cover;
        animation-range-start: 100svb;
        animation-timeline: view();
      }

      &:after {
        position: absolute;
        inset: $border-width-3;
        display: block;
        content: "";
        background-image: var(--anim-pic_bg-img);
        background-repeat: no-repeat;
        background-position: var(--anim-pic_bg-position);
        background-size: cover;
        transform-origin: center;
        clip-path: var(--anim-pic_clip-path);
      }

      &--large {
        --anim-pic_animation: animLargeImg;
        --anim-pic_bg-position: center;
        --anim-pic_anim-delay: 1.25s;
        --anim-pic_trans-x: 3svi;
        --anim-pic_bg-img: url("../images/header/header-img-1.webp");
        --anim-pic_clip-path: polygon(
          45.348% 0.345%,
          45.348% 0.345%,
          45.476% 0.251%,
          45.614% 0.181%,
          45.76% 0.135%,
          45.91% 0.113%,
          46.06% 0.114%,
          46.209% 0.138%,
          46.352% 0.185%,
          46.488% 0.254%,
          46.612% 0.346%,
          46.721% 0.46%,
          100% 66.209%,
          100% 66.209%,
          100.101% 66.362%,
          100.167% 66.525%,
          100.199% 66.693%,
          100.198% 66.862%,
          100.166% 67.027%,
          100.104% 67.183%,
          100.014% 67.327%,
          99.896% 67.454%,
          99.751% 67.559%,
          99.582% 67.638%,
          8.561% 100%,
          8.561% 100%,
          8.388% 100.044%,
          8.217% 100.056%,
          8.049% 100.038%,
          7.89% 99.992%,
          7.742% 99.92%,
          7.609% 99.824%,
          7.494% 99.707%,
          7.402% 99.57%,
          7.336% 99.416%,
          7.298% 99.246%,
          0.117% 40.265%,
          0.117% 40.265%,
          0.11% 40.177%,
          0.113% 40.089%,
          0.124% 40.002%,
          0.143% 39.916%,
          0.171% 39.834%,
          0.207% 39.754%,
          0.25% 39.677%,
          0.301% 39.605%,
          0.359% 39.537%,
          0.424% 39.475%,
          45.348% 0.345%
        );
        grid-column: 1 / 9;
        grid-row: 2 / 13;

        @include mq-responsive(tablet, max) {
          --anim-pic_trans-x: 25svi;
          grid-column: 1 / 13;
          grid-row: 2 / 12;
        }

        @include mq-responsive(mobile-xl, max) {
          --anim-pic_trans-x: -10svi;
          --anim-pic_trans-y: -3svb;
          --anim-pic_bg-color: #{$color-white};
          --anim-pic_bg-img: url("../images/gallery/Elendris02.avif");
          --anim-pic_bg-position: center left;
          grid-column: 1 / 13;
          grid-row: 9 / 13;
        }
      }

      &--small {
        --anim-pic_animation: animSmallImg;
        --anim-pic_bg-position: center center;
        --anim-pic_anim-delay: 1.5s;
        --anim-pic_bg-img: url("../images/gallery/Elendris08.avif");
        --anim-pic_bg-color: #{$color-white};
        --anim-pic_trans-x: 6svi;
        --anim-pic_trans-y: -3svb;
        --anim-pic_clip-path: polygon(
          0.683% 39.679%,
          0.683% 39.679%,
          0.549% 39.78%,
          0.43% 39.891%,
          0.326% 40.011%,
          0.239% 40.138%,
          0.168% 40.271%,
          0.115% 40.41%,
          0.079% 40.553%,
          0.061% 40.699%,
          0.061% 40.847%,
          0.081% 40.995%,
          11.559% 98.83%,
          11.559% 98.83%,
          11.625% 99.051%,
          11.73% 99.255%,
          11.87% 99.439%,
          12.041% 99.603%,
          12.24% 99.742%,
          12.461% 99.856%,
          12.702% 99.94%,
          12.959% 99.994%,
          13.227% 100.015%,
          13.503% 100%,
          98.636% 89.767%,
          98.636% 89.767%,
          98.946% 89.705%,
          99.228% 89.602%,
          99.477% 89.462%,
          99.69% 89.29%,
          99.863% 89.092%,
          99.992% 88.872%,
          100.075% 88.637%,
          100.106% 88.39%,
          100.082% 88.137%,
          100% 87.883%,
          61.263% 0.991%,
          61.263% 0.991%,
          61.113% 0.735%,
          60.913% 0.517%,
          60.671% 0.34%,
          60.397% 0.205%,
          60.1% 0.114%,
          59.787% 0.069%,
          59.467% 0.072%,
          59.15% 0.125%,
          58.844% 0.229%,
          58.557% 0.388%,
          0.683% 39.679%
        );
        grid-column: 5 / 13;
        grid-row: 3 / 8;

        @include mq-responsive(tablet, max) {
          grid-column: 3 / 9;
          grid-row: 2 / 6;
        }

        @include mq-responsive(mobile-xl, max) {
          --anim-pic_trans-x: 10svi;
          --anim-pic_trans-y: -5svb;
          grid-column: 3 / 13;
          grid-row: 2 / 6;
        }
      }
    }
  }
}

@keyframes showImg {
  to {
    scale: 1;
  }
}

@keyframes animLargeImg {
  to {
    clip-path: polygon(
      40.862% 0.338%,
      40.862% 0.338%,
      40.994% 0.23%,
      41.145% 0.146%,
      41.31% 0.086%,
      41.484% 0.049%,
      41.664% 0.036%,
      41.843% 0.047%,
      42.019% 0.082%,
      42.185% 0.14%,
      42.338% 0.222%,
      42.472% 0.328%,
      100% 55.28%,
      100% 55.28%,
      100.09% 55.381%,
      100.156% 55.489%,
      100.198% 55.602%,
      100.217% 55.717%,
      100.213% 55.832%,
      100.186% 55.945%,
      100.136% 56.055%,
      100.064% 56.158%,
      99.97% 56.254%,
      99.855% 56.339%,
      30.653% 100%,
      30.653% 100%,
      30.483% 100.087%,
      30.302% 100.145%,
      30.114% 100.174%,
      29.925% 100.177%,
      29.739% 100.153%,
      29.561% 100.105%,
      29.398% 100.032%,
      29.254% 99.937%,
      29.135% 99.819%,
      29.045% 99.681%,
      0.064% 41.223%,
      0.064% 41.223%,
      0.033% 41.148%,
      0.012% 41.073%,
      0.001% 40.996%,
      0.001% 40.92%,
      0.011% 40.844%,
      0.031% 40.769%,
      0.061% 40.696%,
      0.1% 40.625%,
      0.149% 40.557%,
      0.208% 40.492%,
      40.862% 0.338%
    );
  }
}

@keyframes animSmallImg {
  to {
    clip-path: polygon(
      0.421% 43.667%,
      0.421% 43.667%,
      0.289% 43.823%,
      0.182% 43.991%,
      0.102% 44.167%,
      0.048% 44.351%,
      0.021% 44.538%,
      0.02% 44.728%,
      0.047% 44.916%,
      0.101% 45.101%,
      0.182% 45.28%,
      0.29% 45.451%,
      40.314% 99.638%,
      40.314% 99.638%,
      40.483% 99.83%,
      40.678% 99.989%,
      40.896% 100.115%,
      41.13% 100.207%,
      41.376% 100.264%,
      41.628% 100.286%,
      41.883% 100.271%,
      42.134% 100.219%,
      42.377% 100.129%,
      42.607% 100%,
      99.73% 61.713%,
      99.73% 61.713%,
      99.936% 61.549%,
      100.104% 61.361%,
      100.234% 61.154%,
      100.324% 60.934%,
      100.373% 60.704%,
      100.382% 60.47%,
      100.35% 60.237%,
      100.276% 60.009%,
      100.16% 59.791%,
      100% 59.589%,
      44.769% 0.644%,
      44.769% 0.644%,
      44.564% 0.46%,
      44.335% 0.317%,
      44.086% 0.214%,
      43.826% 0.152%,
      43.558% 0.129%,
      43.291% 0.147%,
      43.029% 0.205%,
      42.778% 0.304%,
      42.546% 0.443%,
      42.337% 0.622%,
      0.421% 43.667%
    );
  }
}

@keyframes showTitle {
  to {
    opacity: 1;
    translate: var(--header-title_trans-x) 0;
  }
}

@keyframes showContent {
  to {
    opacity: 1;
    translate: 0 0;
  }
}
