$color-white: hsl(0 0% 100%);
$color-black:  hsl(0 0% 0%);
$color-transparent: hsl(0 0% 0% / 0%);
$color-primary: hsl(0 0% 12%);
$color-primary--transparent: hsl(0 0% 12% / .8);
$color-primary--hover: $color-black;
$color-secondary: hsl(3 59% 69%);
$color-secondary--hover: hsl(from #{$color-secondary} h s 51%);
$color-shadow: hsl(0 0% 0% / 30%);
$color-text: hsl(0 0% 24%);
$color-title: hsl(0 0% 12%);
$color-label: hsl(0 0% 50%);
$color-border: hsl(0 0% 80%);
$color-success: hsl(120 80% 35%);
$color-warning: hsl(34 100% 60%);
$color-error: hsl(0 78% 45%);
$color-disabled: hsl(0 0% 40%);;
$color-disabled-bg: hsl(0 0% 70%);
$dialog-backdrop-bg: hsl(from $color-black h s l / .65);
$color-glass--light: hsl(0 0% 100% / .85);
$color-glass--dark: hsl(from $color-primary h s l / .5);

@mixin generate-colors {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-transparent: #{$color-transparent};
  --color-primary: #{$color-primary};
  --color-primary--hover: #{$color-primary--hover};
  --color-secondary: #{$color-secondary};
  --color-secondary--hover: #{$color-secondary--hover};
  --color-shadow: #{$color-shadow};
  --color-disabled: #{$color-disabled};
  --color-disabled-bg: #{$color-disabled-bg};
}