@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-card {
  .rooms {
    @include grid-columns(grid, repeat(var(--rooms-count, 3), minmax($gap-3xl, 1fr)), $gap-3xl, stretch);
    padding-inline: $gap-3xl;
    margin-block-start: 5svb;
  }

  .card {
    container-type: inline-size;
    position: relative;
    display: grid;
    place-items: center;
    aspect-ratio: 16 / 10;
    padding: 0;
    background-color: $color-transparent;
    border: none;
    border-radius: 1em;
    overflow: clip;
    cursor: pointer;
    box-shadow: 0 $gap-s $gap-xl 0 $color-shadow;

    &:focus-visible{
      --card-btn_translate-y: 0;
      --card-img_scale: 1.1;
      --card-btn_opacity: 1;
      z-index: 10;
    }

    @include mq-hover {
      --card-btn_translate-y: 0;
      --card-img_scale: 1.1;
      --card-btn_opacity: 1;
    }

    &__content {
      @include flex-set(flex, row, nowrap, 5cqi, center, space-between, center);
      position: absolute;
      inset: auto 0 0 0;
      padding-block: 1.5cqi;
      padding-inline: 2.5cqi;
      transition: opacity $trans-time $trans-fnc;
      z-index: 2;
      @extend %glass;
    }

    > img {
      position: absolute;
      display: block;
      min-inline-size: calc(100% + $gap-xs);
      opacity: var(--card-img_opacity, 1);
      scale: var(--card-img_scale, 1);
      transition:
        filter $trans-time $trans-fnc,
        scale calc($trans-time * 5) ease-out,
        opacity $trans-time $trans-fnc;
      z-index: 1;
      pointer-events: none;
    }

    .btn {
      opacity: var(--card-btn_opacity, 0);
      translate: 0 var(--card-btn_translate-y, 2.5cqb);
      transition:
        opacity $trans-time $trans-fnc,
        translate $trans-time $trans-fnc;
    }

    strong {
      @extend %subtitle;
      padding-block: $gap-l;
      padding-inline: $gap-xl;
      border-radius: 1em;
      font-size: clamp($gap-l, 2svb, px-to-rem(22px));
      color: $color-white;
      text-align: left;
      text-wrap: balance;
    }
  }

  .detail {
    @include grid-rows(var(--detail_display, none), auto 1fr auto, 2svi, stretch, stretch);
    container-type: inline-size;
    inset: 0 0 0 auto;
    inline-size: min($width-desktop-s, 100%);
    block-size: 100svb;
    max-block-size: 100dvb;
    padding-block: 3svi;
    padding-inline: 3svi;
    margin: 0;
    opacity: var(--detail_opacity, 0);
    border: none;
    translate: var(--detail_trans-x, 100%) 0;
    transition-duration: $trans-time;
    transition-property: overlay display opacity;
    transition-timing-function: $trans-fnc;
    transition-behavior: allow-discrete;

    &[open] {
      --detail_display: grid;
      --detail_opacity: 1;
      --detail_trans-x: 0%;

      @starting-style {
        --dialog_opacity: 0;
        --detail_trans-x: 100%;
      }
    }

    &__header {
      @include flex-set(flex, row, nowrap, 0, flex-start, space-between, center);
      h3 {
        margin: 0;
        font-weight: 900;
        line-height: 1;
      }
    }

    &__close {
      @extend %close-button;
    }

    &__content {
      h4 {
        font-size: clamp($gap-xl, 3svb, $gap-2xl);
        color: darkgrey;
      }
      > p {
        margin: 0;
      }

      ul {
        @include flex-set(flex, column, nowrap, $gap-xl, flex-start, flex-start);
        padding: 0;
        margin: 0;
        margin-block-start: 2.5svb;
        list-style: none;

        li {
          @include flex-set(flex, row, nowrap, $gap-l, center);
          font-size: $gap-xl;

          > .icon{
            --icon_size: #{$gap-2xl};
            fill: $color-secondary;
          }
        }
      }
    }

    &__footer {
      @include flex-set(flex, row, nowrap, $gap-xl, flex-end, space-between, center);
    }

    &__price {
      @include flex-set(inline-flex, column, nowrap, $gap-m, flex-start, flex-end);
      line-height: 1;

      > span {
        font-size: clamp($gap-l, 2.5svb, $gap-xl);
        color: $color-text;
      }

      > strong {
        font-size: clamp($gap-3xl, 5svb, 4rem);
        font-weight: 900;
        color: $color-title;
      }
    }

    &__hidden-pics{
      display: none;
    }
  }

  .gallery{
    margin-block-start: 2.5svb;
    margin-block-end: 5svb;
    
    &__item{
      position: relative;
      display: inline-block;
      border-radius: 1em;
      overflow: hidden;
      box-shadow: 0 $gap-m $gap-l 0 $color-shadow;

      @include mq-hover{
        --gallery-btn_scale: 1.15;
      }

      img{
        display: block;
        max-inline-size: px-to-rem(320px);
      }
    }

    &__item-btn{
      @extend %glass;
      position: absolute;
      inset: auto $gap-l $gap-l auto;
      display: grid;
      place-items: center;
      inline-size: 4rem;
      aspect-ratio: 1;
      border-radius: $radius-circle;
      color: $color-white;
      z-index: 2;

      > .icon{
        --icon_size: #{$gap-xl};
        scale: var(--gallery-btn_scale, 1);
        transition: scale $trans-time $trans-fnc;
      }
    }
  }

  //Fancy box custom
  // body > .fancybox__container{
  //   --fancybox-bg: #{$dialog-backdrop-bg} !important;
  //   backdrop-filter: blur($gap-l);
  // }
}
