@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;
@use "../../styles/base/placeholders/index" as *;

@mixin create-map {
  div[role="dialog"]:has(.map__window) {
    max-width: 260px !important;
    padding: 0 !important;

    div:has(+ button[aria-label="Close"]){
      display: none;

      + button{
        @extend %glass-dark;
        position: absolute !important;
        inset: $gap-s $gap-s auto auto;
        opacity: 1 !important;
        border-radius: $radius-circle;

        > span{
          background-color: $color-white !important;
        }
      }
    }
  }

  .map {
    position: absolute;
    inset: 0;
    
    &__window {
      @include grid-columns(grid, 1fr);


      > img {
        display: block;
        max-width: px-to-rem(260px) !important;
        max-block-size: px-to-rem(120px);
        object-fit: cover;
      }

      > div{
        @include grid-columns(grid, 1fr, $gap-m);
        padding: $gap-l;
        font-size: $gap-l;
        text-align: left;
      }

      strong {
        font-size: 1.2em;
        white-space: wrap;
        text-wrap: pretty;
      }

      span{
        line-height: 1.7;
      }
    }
  }
}
