
<div id="map" class="map"></div>

<script>
  import { loadGoogleMapsAPI } from "./Map.ts";

  document.addEventListener("DOMContentLoaded", () => {
    let firstScrollLogged = false;

    window.addEventListener('scroll', () => {
        if (!firstScrollLogged) {
            loadGoogleMapsAPI()
            firstScrollLogged = true
        }
    })
  });
</script>