<div id="map" class="map"></div>

<script>
  import { loadGoogleMapsAPI } from "./Map.ts";

  document.addEventListener("DOMContentLoaded", () => {
    let mapLoaded = false;

    const onScroll = () => {
      if (!mapLoaded) {
        loadGoogleMapsAPI();
        mapLoaded = true;
        window.removeEventListener('scroll', onScroll);
      }
    };

    window.addEventListener('scroll', onScroll);
  });
</script>