---
import Room from "../../components/room/Room.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section id={id}>
  <div class="container">
    <h2 class="title">Naše pokoje</h2>
    <p class="desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      veritatis nesciunt tempora impedit nam quibusdam mollitia excepturi
      laudantium, nisi itaque?
    </p>
  </div>
  <div class="rooms">
    <Room
      title="Jednolůžkový pokoj"
      imgSrc="./images/gallery/Elendris20.avif"
      price={990}
      id="1"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Dvoulůžkový pokoj"
      imgSrc="./images/gallery/Elendris16.avif"
      price={1450}
      id="2"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Třílůžkový pokoj"
      imgSrc="./images/gallery/Elendris23.avif"
      price={1900}
      id="3"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Rodinný pokoj"
      imgSrc="./images/gallery/Elendris18.avif"
      price={2500}
      id="4"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Rodinný pokoj s kuchyňským koutem"
      imgSrc="./images/gallery/Elendris30.avif"
      price={2500}
      id="5"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Pokoj s vanou"
      imgSrc="./images/gallery/Elendris25.avif"
      price={1450}
      id="6"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
  </div>
  <div class="container">
    <br><br>
    <p class="center-text w-100">
      Máte-li jakékoliv dotazy, neváhejte nás kontaktovat e-mailem <a href="mailto:info@elendris.cz" class="link" rel="noreferer">info@elendris.cz</a>
    </p>
  </div>
</section>

<script>
  import { initRooms } from "./Rooms.ts";
  
  document.addEventListener("DOMContentLoaded", () => {
    initRooms()
  });
</script>
