@use "../../styles/base/mixins/index" as *;
@use "../../styles/base/functions/index" as *;
@use "../../styles/base/variables/index" as *;

@mixin create-rooms {
  .rooms {
    @include grid-columns(grid, repeat(var(--rooms-count, 3), minmax($gap-3xl, 1fr)), clamp($gap-xl, 2.5svi, $gap-3xl), stretch);
    padding-inline: var(--rooms_padding-inline, clamp(#{$gap-xl}, 2.5svi, #{$gap-3xl}));
    margin-block-start: 5svb;

    @include mq-responsive(desktop-l, max) {
      --rooms_padding-inline: #{$gap-2xl};
    }

    @include mq-responsive(desktop-s, max) {
      --rooms-count: 2;
    }

    @include mq-responsive(tablet, max) {
      --rooms_padding-inline: #{$gap-2xl};
      --rooms-count: 1;
    }

    @include mq-responsive(mobile-xl, max) {
      --rooms_padding-inline: #{$gap-xl};
    }

    @include mq-responsive(mobile-m, max) {
      --rooms_padding-inline: #{$gap-l};
    }
  }
}   