---
import Room from "../../components/room/Room.astro";
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const aboutCollection = await getCollection('rooms');
const aboutContent = aboutCollection.find(entry => entry.slug === lang);

if (!aboutContent) {
  throw new Error(`Content for language ${lang} not found`);
}

const { data, body } = aboutContent;
const { title } = data;

interface Props {
  id: string;
}

const { id } = Astro.props;

const t = useTranslations(lang);
---

<section id={id}>
  <div class="container">
    <h2 class="title">{title}</h2>
    <p class="desc">
      {body}
    </p>
  </div>
  <div class="rooms">
    <Room
      title="Jednolůžkový pokoj"
      imgSrc="/images/rooms/room-1/room-1-1.avif"
      imgCount={3}
      galeryFolder="room-1"
      price={990}
      id="1"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Dvoulůžkový pokoj"
      imgSrc="/images/rooms/room-2/room-2-1.avif"
      imgCount={2}
      galeryFolder="room-2"
      price={1450}
      id="2"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Třílůžkový pokoj"
      imgSrc="/images/rooms/room-3/room-3-1.avif"
      imgCount={3}
      galeryFolder="room-3"
      price={1900}
      id="3"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Rodinný pokoj"
      imgSrc="/images/rooms/room-4/room-4-1.avif"
      imgCount={2}
      galeryFolder="room-4"
      price={2500}
      id="4"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Rodinný pokoj s kuchyňským koutem"
      imgSrc="/images/rooms/room-5/room-5-1.avif"
      imgCount={2}
      galeryFolder="room-5"
      price={2500}
      id="5"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
    <Room
      title="Pokoj s vanou"
      imgSrc="/images/rooms/room-6/room-6-1.avif"
      imgCount={3}
      price={1450}
      galeryFolder="room-6"
      id="6"
    >
      <p slot="room-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        perspiciatis obcaecati, tempore quis quod cupiditate?
      </p>
    </Room>
  </div>
  <div class="container">
    <br><br>
    <p class="center-text w-100">
      Máte-li jakékoliv dotazy, neváhejte nás kontaktovat e-mailem <a href="mailto:info@elendris.cz" class="link" rel="noreferer">info@elendris.cz</a>
    </p>
  </div>
</section>

<script>
  import { initRooms } from "./Rooms.ts";
  
  document.addEventListener("DOMContentLoaded", () => {
    initRooms()
  });
</script>
