@use "../base/variables/index" as *;
@use "../base/mixins/index" as *;

@mixin reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  textarea {
    font-family: inherit;
    resize: vertical;
  }

  dialog {
    overscroll-behavior: contain;
  }

  :where(header, main, footer, section, article) {
    container-type: inline-size;
  }

  ::selection {
    background: $color-secondary;
  }
}
